
@import "ember-bootstrap/bootstrap";

body{
  margin-left: 0;
  margin-top: 0;
}
#blogArea {
  width: 100%;
  margin-left: 0;
}
.newBlog{
  margin: 0;
  width: 100%;
}
.textBox{
  width: 100%;

}
#postButton{
  margin-left: 75%;
}
.buttonRight {
  margin-left: 75%;
}
